{# templates/Home/home.html.twig #}

{% extends "layout.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link src="../public/build/app.css" rel="stylesheet">

{% endblock %}

{% block title %}{{ parent() }} Liste des figures {% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container-fluid" id="trick-container">
  {{ parent() }}

  <div class="row">
      <img src="../public/img/snowtrick-background.jpg" class="img-fluid" alt="Responsive image"> 
  </div>

  <!-- Scroll To Bottom Arrow-->
  <p class="float-right">
      <a href="javascript:;" id="scrollToBottom"><i class="fa fa-arrow-circle-down fa-3x"></i></a>
  </p>
  <!-- Tricks Section -->
    <div class="row text-center">
      {% for trick in tricks %}
        <div class="col-lg-2 col-md-12 col-xs-12 my-4 mx-4">
          <div class="card h-100">
            <h4 class="card-header">{{ trick.name }}</h4>
              <div class="float-right">
                <a href="{{ path('app_trick_edit', {'id': trick.id }) }}">
                  <i class="fas fa-pencil-alt"></i>
                </a>
                <a href="{{ path('app_trick_delete', {'id': trick.id }) }}" onclick="return confirm(`Êtes-vous sûr de vouloir supprimer le trick : {{trick.name}} ?`)">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </div>
            <div class="card-body">
              <p class="card-text">{{ trick.description }}</p>
            </div>
            <div class="card-footer">
              <button href="#" class="btn btn-primary text-uppercase">Voir plus</button>
            </div>
          </div>
        </div>
      {% endfor %} 
    </div>

  <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-12 text-center">
        <button id="loadTrick" class="btn-primary btn-lg center-block text-uppercase" href="#">Voir plus de tricks</button>
      </div>
    </div>

  <!-- Scroll To Top Arrow-->
    <div class="float-right">
      <a href="javascript:;" id="scrollToTop"><i class="fa fa-arrow-circle-up fa-3x"></i></a>
    </div>

<!-- /.container -->
    {% block javascripts %}
      {{ parent() }}
      {{ encore_entry_script_tags('app') }}
    {% endblock %} 

{% endblock %}
