{# src/templates/Parts/_account_header.html.twig  #}

    <!--Header start-->
        <div class="header">    
            <div class="header-content clearfix">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <a href="{{ path('app_user_edit', {'id': app.user.id }) }}" aria-expanded="false">
                                <img src="/../OCR-P6/assets/img/users/{{ app.user.avatar }}" height="40" width="40" alt="utilisateur">
                                </a>
                            </div>
                            <div class="drop-down dropdown-profile dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="{{ path('app_user_edit', {'id': app.user.id }) }}"><i class="icon-user"></i> <span>Profil</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon-lock"></i> <span>Mot de passe</span></a>
                                        </li>                        
                                        <hr class="my-2">
                                        <li>
                                            <a href="{{ path('app_user_logout') }}"><i class="icon-key"></i> <span>Déconnexion</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <!--Header end-->

    <!-- Nav header start-->
        <div class="nav-header">
            <div class="row-fluid text-center">
                <div class="col-lg-12">
                    <a href="{{ path('app_trick_home') }}">
                        <img class="img-fluid text-center" src="{{ asset('../assets/img/design/snowtricks-logo.png') }}" width="150" alt="SnowTricks-Logo">
                    </a>
                </div>
            </div>
        </div>
    <!--Nav header end-->
