{# templates/User/user_comments.html.twig #}

{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}SnowTricks - Mes commentaires{% endblock %}

{% block body %}

    <!--Header start-->
        {{ include("Parts/_account_header.html.twig") }}
    <!--Header end-->

        <div class="content-body my-4">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="card card-small px-4 py-4 mb-4 pt-3">
                            <div class="card-header border-bottom">
                                <h1 class="card-title text-uppercase mx-3 text-center">Mes commentaires</h1>
                                <hr>

                            {% for trick in tricks %}
                                <div class="row">
                                    <div class="col-lg-6"> 
                                        <div class="mb-3 mx-auto">
                                            <img class="rounded border border-primary py-1 px-1" src="/../OCR-P6/assets/img/tricks/{{ trick.fileName }}" alt="Trick" width="300"></br>
                                        </div>
                                    </div>
                                    <div class="col-lg-6"> 
                                        <p class="mb-0" style="visibility:hidden">{{ app.user.id }}<p>
                                        <h4 class="mb-1 text-uppercase">Titre</h4>
                                        <h5 class="mb-1">{{ trick.name }}</h5>
                                        <hr>
                                        <h4 class="mb-1 text-uppercase">Date</h4>
                                        <h5 class="mb-1">Ajouté le {{ trick.dateAdd | date('d/m/Y') }} à {{ trick.dateAdd | date('H:i') }}</h5>
                                        <hr>
                                    </div>
                                </div>
                            <ul class="entry-comments-list list-unstyled" id="commentSection">
                                {% for comment in comments %}
                                <div class="card">
                                    <div class="card-body">
                                        <span class="comment-anchor" id="{{ comment.id }}"></span>
                                        <li>
                                        <div class="entry-comments-item">
                                            <div class="entry-comments-body">
                                                <p>
                                                <img class="rounded" src="/../OCR-P6/assets/img/users/{{ app.user.avatar }}" height="40" width="40" alt="{{ comment.user.username }}" /><br/>
                                                <span class="entry-comments-author"><strong>Posté par {{ comment.user.username }}</a></strong>, </span>
                                                <span class="comment-date text-dark">le {{ comment.dateAdd | date('d/m/Y') }} à {{ comment.dateAdd | date('H:i') }}</span>
                                                </p> 
                                                <p class="comment-content text-justify">{{ comment.content }}</p>
                                                <div class="float-right">
                                                <div>
                                                    <a href="{{ path('app_comment_delete', {'id': comment.id }) }}" onclick="return confirm(`Êtes-vous sûr de vouloir supprimer ce commnetaire ?`)">
                                                    <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        </li>
                                    </div>
                                </div>
                                {% endfor %}
                            </ul>
                            {% endfor %}

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                            
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                </div>
            </div>
        </div>

        <!--footer-->
        {{ include("Parts/_footer.html.twig") }}
        <!--end-footer-->

        <!--Sidebar start-->
        {{ include("Parts/_sidebar.html.twig") }}
        <!--end-sidebar-->

{% endblock %}