{# templates/User/user_password_reset.html.twig #}

{% extends "base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block title %}SnowTricks - Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-4 text-center">
                <div class="card card-small px-4 py-4 mb-4 pt-3">
                    <div class="card-header border-bottom">
                        <a href="{{ path('app_trick_home') }}">
                            <img class="img-fluid my-4" src="{{ asset('../assets/img/design/snowtricks-logo.png') }}" width="250" alt="SnowTricks-Logo">
                        </a>
                        <h1 class="card-title text-uppercase mx-3 text-center">Réinitialiser mon mot de passe</h1>
                        <hr>
                        <div class="card-body">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('danger') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}            
                        {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_widget(form) }}
                            </div>
                            <div class="form-group mt-5 text-center">
                                <button type="submit" class="btn btn-md btn-primary text-uppercase">Modifier le mot de passe</button>
                            </div>
                        {{ form_end(form) }}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">         
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    {{ include("Parts/_footer.html.twig") }}
    <!--end-footer-->

{% endblock %}
